body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;

 

}

.container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);   
    height: 100vh; 
   
}

.left, .right {
    width:60%;
    padding: 15px;
    background-color: #e6f0ff;
    border-radius: 8px;
}

.left {
    border-right: 2px solid #4a90e2;
    width: 38%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], input[type="date"], input[type="time"], select, textarea {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    width:50%;
}



.form-row {
    display: flex;
    justify-content: space-between;
}

.form-row div {
    width: 48%;
}

.button {
    background-color: #4a90e2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.line {
    border-left: 2px solid #4a90e2;
    height: 100%;
    margin: 0 20px;
}
.vehicle-image{display: flex;justify-content: center;}
.vehicle-card{background-color: white; border-radius: 10px;margin-bottom: 20px;padding: 20px;height: 45vh;}
.vehicle-spec{display: flex;gap: 10px;}
.fuel-class{    height: 20px;
    background-color: #71aaff;
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 800;
    color: white;}
    .color-class{    height: 20px;
        background-color: #c6578a;
        padding: 2px 10px 2px 10px;
        border-radius: 10px;
        font-size: 13px;
        font-weight: 800;
        color: white;}
